{% load static %}
<!DOCTYPE html>
<html dir="rtl">
    <header>  
        <link rel="stylesheet" href="{% static 'mystyle.css' %}" />
        <title>اطلاعات همکاران</title>
    </header>
    <body>
        <h2 align="center">زیرسیستم ها</h2>
        <table width="40%" align="center">
            <tr>
                <td>
                    <a href="/phonebook/all_persons">دفتر تلفن</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/family/employees">همکاران اطلاعات همکاران و خانواده ها</a>    
                </td> 
            </tr>
        </table>
    </body>
</html>