{% load static %}
<!DOCTYPE html>
<html dir="rtl">
    <head>
        <link href="{% static 'mystyle.css' %}" rel="stylesheet" />
        <title>فرزند همکار</title>
    </head>
    <body>
        <p>فرزندان 
            <h2>{{employee.0.fName}} {{employee.0.lName}}</h2>
        </p>
        <br/>
        <table width="80%">
            <tr>
                <th> کد ملی</th>
                <th> نام</th>
                <th> نام خانوادگی</th>
                <th> تاریخ تولد </th>
                <th> جنسیت </th>
            </tr>
            {% for child in childs %}
            <tr>
                <td> {{child.nationalCode}}</th>
                <td> {{child.fName}}</td>
                <td> {{child.lName}}</td>
                <td> {{child.date_of_birth}}</td>
                <td> {{child.sex}}</td>
            </tr>
            {% endfor %}
            
        </table>

    </body>
</html>